.mainContainer {
  padding: 10px 24px;
}

.highlight {
  color: var(--card-bg-accent);
}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 20px;
}

.introText {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.24px;
  text-align: center;
  width: 335px;
  height: 80px;
}

.dashboardTitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.24px;
  color: var(--text-color);
  padding: 14px 0px 39px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.addColumnButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 335px;
  height: 56px;
  border-radius: 8px;
  background: var(--add-column-main-background);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: opacity 0.3s;
}

.addColumnButton:hover {
  opacity: 0.8;
}

.plusIcon {
  color: var(--white-color);
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--plus-icon-add-column-button);
  border-radius: 8px;
  padding: 7px;
}

.addText {
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.28px;
}

.columnsContainer {
  display: flex;
  gap: 34px;
  margin-top: 24px;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 8px;
}

.columnHeader {
  width: 335px;
  height: 56px;
  border-radius: 8px;
  background-color: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.columnTitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.28px;
}

.iconBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 4px;
  color: #16161680;
  transition: color 0.2s ease;
}

.iconBtn:hover {
  color: var(--card-bg-accent);

}

@media screen and (min-width:768px) {
  .mainContainer {
    padding: 26px 32px;
  }

  .introText {
    font-size: 14px;
    line-height: 18px;
    width: 486px;
    height: 42px;
  }
}

@media screen and (min-width:1440px) {
  .mainContainer {
    padding: 10px 24px;
  }

  .introText {
    font-size: 14px;
    line-height: 18px;

  }
}