.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(22, 22, 22, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalContent {
  background-color: var(--add-column-main-background);
  padding: 24px;
  border-radius: 12px;
  width: 335px;
  height: 221px;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

}

.modalTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.36px;
  color: var(--text-color);
}

.input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid var(--card-bg-accent);
  margin-bottom: 24px;
  outline: none;
  background: transparent;
  color: var(--text-color);
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  background-color: transparent !important;
  -webkit-text-fill-color: var(--white-color) !important;
  transition: background-color 9999s ease-in-out 0s !important;
}

.input:focus {
  border: 1px solid var(--card-bg-accent);
  outline: none;
  box-shadow: 0px 4px 16px 0px #16161614;
}

.submitBtn {
  background-color: var(--card-bg-accent);
  border: none;
  padding: 10px 11px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 287px;
  height: 49px;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.28px;
  cursor: pointer;
}

.submitBtn:hover {
  background-color: var(--card-bg-accent-hover);
}

.plusIcon {
  color: var(--plus-icon);
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--plus-btn);
  border-radius: 8px;
  padding: 7px;
}

.closeBtn:hover {
  color: var(--card-bg-accent);
}


.closeBtn {
  position: absolute;
  top: 14px;
  right: 14px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--text-color);
}

@media screen and (min-width:768px) {

  .modalContent {
    width: 350px;


  }

  .submitBtn {
    width: 302px;
  }
}