.background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  background: var(--light-green-gradient);
}

.formWrap {
  padding: 24px;
  width: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #151515;
  border-radius: 8px;
}

.authList {
  display: flex;
  gap: 14px;
}

.authLink {
  color: #ffffff30;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: color var(--easedTransition);
}

.authLink:hover,
.authLink.active {
  color: #ffffff;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  width: 100%;
  padding: 14px 18px;
  background: transparent;
  border: 1px solid #bedbb0;
  border-radius: 8px;
  color: var(--white-color);
  outline: none;
  transition: opacity var(--easedTransition);
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  background-color: transparent !important;
  -webkit-text-fill-color: var(--white-color) !important;
  transition: background-color 9999s ease-in-out 0s !important;
}

.capsWarning {
  color: #9DC888;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}

.passInputWrap {
  position: relative;
}

.hideBtn {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, 50%);
  opacity: 0.4;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.submitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 0;
  font-weight: 500;
  font-size: 14px;
  background: #BEDBB0;
  border-radius: 8px;
  color: #161616;
  transition: background var(--easedTransition);
  border: none;
}

.submitBtn:hover {
  background: #9DC888;
}

.submitBtn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.googleLink {
  text-decoration: none;
  display: inline-block;
}

.linkGoogle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.googleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  gap: 12px;
  padding: 10px 18px;
  background-color: #BEDBB0;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 500;
  color: #444;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease;
}

.googleBtn:hover {
  background-color:#9DC888;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
  transform: translateY(-1px);
}


@media screen and (min-width: 375px) {
  .formWrap {
    width: 335px;
  }

  .googleBtn {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .formWrap {
    width: 424px;
  }
}