*,
*::before,
*::after {
  box-sizing: border-box;
  caret-color: transparent;
  outline: none;
}


body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}


*,
*::before,
*::after {
  font-family: inherit;
}

ul[role='list'],
ol[role='list'],
ul,
ol {
  list-style: none;
}


a {
  text-decoration: none;
  color: inherit;
}


img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;

}



button {
  cursor: pointer;
  border: none;
  background: none;

}