.taskCard {
  display: flex;
  background: var(--white-color);
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 8px;
  width: 334px;
  min-height: 154px;
  margin-top: 14px;
}

@media (min-width: 375px) and (max-width: 767px) {
  .taskCard{
    width: 77vw;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  
}

.priorityStripe {
  width: 4px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.priority-blue .priorityStripe {
  background-color: var(--priority-blue);
}

.priority-pink .priorityStripe {
  background-color: var(--priority-pink);
}

.priority-green .priorityStripe {
  background-color: var(--priority-green);
}

.priority-gray .priorityStripe {
  background-color: var(--priority-gray);
}

.priority-blue .cardPriority {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: var(--priority-blue);
}

.priority-pink .cardPriority {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: var(--priority-pink);
}

.priority-green .cardPriority {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: var(--priority-green);
}

.priority-gray .cardPriority {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: var(--priority-gray);
}

.priorityLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.gapColumn {
  margin-right: 14px;
}

.rightMargin {
  margin-right: 25px;
}

.priorityTitle {
  font-weight: 400;
  font-size: 8px;
  line-height: 100%;
  letter-spacing: -0.16px;
  color: var(--priority-gray-dark);
}

.priorityValue {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: -0.2px;
  color: var(--priority-value);
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
}

.metaInfo {
  display: flex;
}

.actionButtons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-end;
}

.cardContent {
  padding: 14px 20px;
  flex: 1;
}

.cardTitle {
  margin: 0 0 8px 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.28px;
  color: var(--priority-value);
}

.cardDescription {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.24px;
  color: var(--gray-secondary);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  /* Standard property for compatibility */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardDeadline {
  font-weight: 400;
  font-size: 8px;
  line-height: 100%;
  letter-spacing: -0.16px;
  color: var(--priority-gray-dark);
  padding-bottom: 15px;
}

.horizontalLine {
  border-top: 1px solid var(--priority-gray-value-dark);
  margin: 14px 0;
}

.bellIcon {
  color: var(--priority-green);
}